<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="./bootstrap/css/bootstrap.css">
        
        <script type="text/javascript" src="./asset/js/jquery-1.12.4.js"></script>
        <script src="./asset/js/joinForm.js"></script>
        <script src="./bootstrap/js/bootstrap.js"></script>
        
        <link rel="stylesheet" href="./joinForm.css">
    </head>

    <body>
        <div id="wrap">
            <!-- ------헤더------ -->
            <div id="header" class="clearfix">
                <a href=""> <img src="./asset/img/1_logo.png">
                </a>
                <!-- 로그인전 -->
                <ul class="list-unstyled">
                    <a class="btn btn-link" role="button" href="#">기록하기</a>
                    <a class="btn btn-link" role="button" href="#">로그인</a>
                </ul>
                <!-- 로그인후 -->
                <!-- <ul class="list-unstyled">
                        <a class="btn btn-link" role="button" href="#">기록하기</a>
                        <span onclick="location.href='http://'">
                            <img src="../img/login/user.jpg" class="img-circle">
                            <a class="btn btn-link" role="button" href="#">황태형</a>
                        </span>
                    </ul> -->
            </div>
            <!-- ------헤더------ -->
            <!-- content : join -->
            <div class="container">
                <div id="join-header" class="row">
                    <div id="join-hello" class="col-xs-5">
                        <div>나만의 서재를</div>
                        <div>만들어 볼까요?</div>
                    </div>
                    <div id="or" class="col-xs-2">
                        <div>또는</div>
                    </div>
                    <!-- 연동 -->
                    <div id="join-api" class="col-xs-5">
                        <div>
                            <div>
                                <img src="./asset/img/facebooklogo.png"> 페이스북으로 회원가입
                            </div>
                        </div>
                        <div>
                            <div>
                                <img src="./asset/img/naverlogo.png"> 네이버로 회원가입
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- content : form -->
            <div class="container">
                <div id="join-content" class="row">
                    <form action="" method="get">
                        <div>이름*</div>
                        <div><input type="text" id="" name="username" placeholder="이름을 입력해주세요"></div>
                        <div>이메일주소*</div>
                        <div class="except">
                            <input type="text" id="" name="e-mail"  placeholder="ID@example.com">
                            <!--메일주소가 사용중일경우-->
                            <P>이미 사용중이거나 탈퇴한 이메일 주소입니다.</P>
                            <!--메일주소양식이 틀렸을경우-->
                            <!-- <p>이메일 주소를 다시 확인해주세요.</p> -->
                        </div>
                        <div>비밀번호*</div>
                        <div><input type="password" id="" name="userpw" placeholder="비밀번호를 입력해주세요"></div>
                        <div>비밀번호 확인*</div>
                        <div class="except">
                            <input type="password" id="" name="re-pw" placeholder="비밀번호를 확인해주세요">
                            <!--비밀번호가 일치하지 않을경우-->
                            <p>비밀번호를 확인해주세요.</p>
                        </div>
                        
                        <div id="genrebox">
                            <span>평소 어떤 책을 즐기는지</span>
                            <div class="box">두근두근하는</div>
                        </div>
                        <br>
                        <button type="submit">회원가입</button>
                    </form>
                </div>
            </div>

            <!-- footer -->
            <div id="footer">
                <div>
                    copyright ⓒ 2022 Randombook Player. All right reserved<br>

                    4조 Randombook ｜ 황희원 이영림 황인경 김지연 장서윤
                </div>
                <a href="">FAQ</a><a href="">서비스소개</a>
            </div>


        </div>    

        
        
    </body>