<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="./mybook_review.css">
        <link rel="stylesheet" href="./bootstrap/css/bootstrap.css">
    </head>

    <body>
        <div id="wrap">
            <!-- ------헤더------ -->
            <div id="header" class="clearfix">
                <a href=""> <img src="./img/logo/1_logo.png">
                </a>
                <!-- 로그인전 -->
                <ul class="list-unstyled">
                    <a class="btn btn-link" role="button" href="#">기록하기</a>
                    <a class="btn btn-link" role="button" href="#">로그인</a>
                </ul>
                <!-- 로그인후 -->
                <!-- <ul class="list-unstyled">
                        <a class="btn btn-link" role="button" href="#">기록하기</a>
                        <span onclick="location.href='http://'">
                            <img src="../img/login/user.jpg" class="img-circle">
                            <a class="btn btn-link" role="button" href="#">황태형</a>
                        </span>
                    </ul> -->
            </div>
            <!-- ------헤더------ -->
            
            <!-- ------nav------ -->
            <div id="nav" class="clearfix" >
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#">내 서평</a></li>
                    <li role="presentation"><a href="#">취향저격</a></li>
                    <!--세션 아이디와 사이트아이디 같을때-->
                    <li role="presentation"><a href="#">통계</a></li>
                </ul>
            </div>
            <!-- ------nav------ -->
            
            <!--content-->
            <div class="container-fluid" class="clearfix">
                <div class="row">

                    <!-- 본문 -->
                    <div id="content" class="col-md-8">
                        <!--기록하기 박스-->
                        <div class="jumbotron">
                            <h1>서평 기록하기</h1>
                            <p>'유저이름'님 오늘은 어떤 책을 읽으셨나요?</p>
                            <p><a class="btn btn-primary btn-md" href="#" role="button">기록하기</a></p>
                        </div>
                        <!-- 리스팅 -->
                        <ul class="list-unstyled">
                            <a>최신순</a>
                            <a>인기순</a>
                        </ul>
                        <!-- 서평 리스트 -->
                        <div class="jumbotron">
                            <h1>서평 기록하기</h1>
                            <p>'유저이름'님 오늘은 어떤 책을 읽으셨나요?</p>
                            <p><a class="btn btn-primary btn-md" href="#" role="button">기록하기</a></p>
                        </div>
                    </div>

                    <!-- 프로필 -->
                    <div id="aside" class="col-md-4">
                        <!--프로필 공간-->
                        <div id="profile-box" class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">내 프로필</h3>
                            </div>
                            <div class="panel-body">
                                <!-- 프로필 이미지 -->
                                <img id="profile-image" src="./img/img/profile.png">
                                <a>회원정보수정</a>
                            </div>
                          </div>
                    </div>


                </div>
            </div>





            


            <div>footer</div>


        </div>    

        
        
    </body>