@charset "UTF-8";

/* -------사이트 전체 적용------- */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, 
h6, input, fieldset, legend, p, select, table, th, 
td, tr, textarea, button, form {
    margin: 0; padding: 0;
}
/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}

body {
    font-family: 'MinSans-Medium';
    font-size: 12px;
}

#wrap {
    width: 1130px;
    margin: 0px auto;
}

/* 파란색 #2699fb */


/* ---------------레이아웃-------------- */
#header {
    /* background-color: aqua; */
    /* border: 2px solid #000000; */
    padding: 30px 0px 30px 0px;
    /* border-bottom: 2px solid #dddddd; */
}

#contents {
    padding: 10px 0px 40px 0px;
    margin-bottom: 40px;

    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #e4e4e4;
}

/* ---------헤더---------- */
#header {
    background-color: #FFFFFF;
    transition: opacity 1s;
}

#header>a>img {
    float: left;
    width: 110px;
    margin: 0px 40px 0px 10px;
    cursor:pointer;
}

#header>ul>span>.img-circle {
    width: 30px;
    height: 30px;
    cursor:pointer;
}

#header>ul>span {
    cursor:pointer;
}

#header ul {
    float: right;
}

#header>ul>li {
    float:left;
    padding: 10px 0px 10px 20px;
}

/* ------------nav---------------- */
#nav {
    padding: 5px 0px 5px 0px;
}

/*서평페이지 한정*/
/* ------------content---------------- */
#content {
    padding : 20px 30px 20px 20px;
}
.jumbotron {
    border-radius: 15px  !important ;
    margin: 15px 0px 15px 0px !important;
    padding: 10px 10px 10px 30px !important;
    background-color: #d1ecff !important;
    height : 180px;
}
.jumbotron h1 {
    font-size: 25px  !important ;
    font-weight: bold;
    color: #337AB7  !important ;
    margin-bottom: 15px !important;
}
.jumbotron p {
    font-size: 15px !important ;
    padding : 0px !important;
    color: #888888;
}
#content>ul>a {
    padding : 0px 10px 0px 10px;
}

/* ------------aside---------------- */
#profile-box {
    margin : 35px 5px 20px 5px;
}
#profile-image{
    margin : 40px 100px 40px 100px;
    width: 100px;
}



