@charset "UTF-8";

/* 책 제목 */
@font-face {
    font-family: 'KOHIBaeumOTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 책 설명 */
@font-face {
    font-family: 'MinSans-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* -------사이트 전체 적용------- */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, 
h6, input, fieldset, legend, p, select, table, th, 
td, tr, textarea, button, form {
    margin: 0; padding: 0;
}
/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}

body {
    font-family: 'MinSans-Medium';
    font-size: 12px;
}

#wrap {
    width: 1130px;
    margin: 0px auto;
}

/* 파란색 #2699fb */


/* ---------------레이아웃-------------- */
#header {
    /* background-color: aqua; */
    /* border: 2px solid #000000; */
    padding: 30px 0px 30px 0px;
    /* border-bottom: 2px solid #dddddd; */
}

#contents {
    padding: 10px 0px 40px 0px;
    margin-bottom: 40px;

    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #e4e4e4;
}

/* ---------헤더---------- */
#header {
    background-color: #FFFFFF;
    transition: opacity 1s;
}

#header>a>img {
    float: left;
    width: 110px;
    margin: 0px 40px 0px 10px;
    cursor:pointer;
}

#header>ul>span>.img-circle {
    width: 30px;
    height: 30px;
    cursor:pointer;
}

#header>ul>span {
    cursor:pointer;
}

#header ul {
    float: right;
}

#header>ul>li {
    float:left;
    padding: 10px 0px 10px 20px;
}

/* ------------nav---------------- */
#nav {
    padding: 5px 0px 5px 0px;
}

/* ------------컨텐츠 (책 소개)---------------- */
#book_img {
    float: left;
    width: 220px;
    height: 300px;
    margin-right: 50px;
    box-shadow: 8px 8px 8px rgb(172, 172, 172);
}

#book_detail {
    float:left;
}

/* 책 제목 */
#book_detail>h1 {
    font-family: 'KOHIBaeumOTF';
    font-size: 25px;
    color: #666666;
    margin: 10px 0px 20px 0px;
}

/* 책 저자 */
#book_detail>h3 {
    font-family: 'MinSans-Medium';
    font-size: 20px;
    color: #adaaaa;
    margin: 0px 0px 20px 0px;
}

/* 서평수txt */
#book_review {
    margin: 20px 0px 20px 0px;
}

.review_count {
    font-family: 'MinSans-Medium';
    font-size: 20px;
    color: #adaaaa;
    margin-right: 10px;
}

.review_num {
    font-family: 'MinSans-Medium';
    font-size: 20px;
    font-weight: bold;
    color: #666666;
    
}

#btn_review>button {
    padding: 15px 40px 15px 40px;
    margin: 5px;
}

#btn_write {
    float:right;
    padding: 10px 60px 10px 60px;
    background-color: #2699fb;
}

/* ------------컨텐츠 (책서평)---------------- */
#contents_review>ul>li {
    float:left;
    margin: 0px 30px 0px 0px;
}

.review_list {
    margin: 0px 0px 0px 40px;
    font-size: 15px;
}

.jumbotron {
    border-radius: 15px;
    margin: 15px 0px 0px 0px;
    padding: 35px 45px 35px 45px;
}

.jumbotron>div>h3 {
    font-size: 25px;
    font-weight: bold;
    color: #666666;

    margin-bottom: 25px;
}

.jumbotron>div>p {
    color: #adaaaa;
}

#review_first{
    border-bottom : 2px solid #e4e4e4;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#review_first>span {
    background-color: #2699fb;
    color: white;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
}

.review_like {
    margin: 5px;
}

.pagination {
    margin: 35px 430px 40px 430px;
}


/* --------------연습 */


