@charset "UTF-8";


#nav3>li.active>a{
    background-color: #2699FB;
}


.thumb-text{
    color: #707070;
    font-size:20px;
    font-weight: 600;
    margin: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1em;
  }

.location-img>img {
    width: 10%;
    height:120%;
    
  }

  #writerinfo>p{
    font-size: 1px;
    font-weight: bold;

    color:#707070;
    }
    
    .gallery {
        object-fit: cover;
        display: flex;
        width: 100%;
        max-width: 1130px;
        align-items: center;
        margin:20px;
    }

    .gallery p{
        color: #707070;
        font-weight: bold;
        text-align:left;
        font-size:18px;
        margin-top: 4px;
    }

    .gallery .sub{
       color: #B4B4B4;
       font-size:16px;
    }
    
    .article{
        float:left;
    }
    

    .img {
    display:inline-flex;
    width: 200px;
    height: 280px;
    margin-right: 60px;
    background: rgba(255, 255, 255, 0);
    }
    
    .gallery img{
        width:100%;
        height:100%;
    }


    #thumb-text{
        color:#707070;
        font-size:20px;
        font-weight:bold;
    }

    #likebook{
        margin:20px 0px;
    }

    .book-detail{
        margin-top: 20px;
    }

    .gradient{
        margin-bottom: 120px;
        background:linear-gradient(#FFFFFF00, #EAEAEA);
        height:280px;
    }