@charset "UTF-8";


/* ------------컨텐츠 (책 소개)---------------- */

.jumbotron {
    border-radius: 15px;
    margin: 16px;
    padding: 32px;
    color:#FDC3EA;
    background-color: #34293C;
    overflow:auto;
}

#buttonjumbo{
    font-size: 14px;
}
.sub{
    font-size:16px !important;
    color: #ffffffb2;
}

.main-button{
    color:aquamarine !important;
}

.btn, .btn-primary, .btn-lg {
    margin-right:20px;
    color: #fff;
    background-color: #ffffff48;
    border-color: #ffffff00;
    float:left;
}

.nav, .nav-pills{
    margin-left: 20px;
    font-size:16px;

}

.review{
    margin: 20px;
    padding: 40px;
    margin-bottom: 30px;
    background-color: #F7F7F7;
    color: #707070;
    font-size:16px;
}

.tag{
    background-color: #337ab7;
    color:#fff;
    border-radius: 4px;
    padding:8px;
    font-size:12px;
}
/* --------------연습 */

/*************서평****************/

#reviews{
    width: 1050px;
    margin : 15px 10px;
    background-color: #e7e7e7;
    padding : 15px 30px;
    border-radius: 15px;
}
#reviews-header{
    /*********리뷰박스크기따라조정할것*********/
    width: 990px;
    height : 25px;
    margin-bottom : 3px;
}
#reviews-header>div>p{
    font-size: 17px;
    font-weight: bold;
    color: #707070;
}
#reviews-header .right{
    padding:5px 3px 0px 0px;
}
#reviews-header>div>a{
    margin-left: 5px;
    color: #888888;
    font-size: 12px;
}
#reviewer{
    margin: 0px 0px 5px 0px;
}
#reviewer>a{
    font-size: 12px;
    color: #707070;
}
#reviews-content{
    color: #909090;
    border-bottom: 1px solid #B4B4B4; 
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 10px 0px;
}
#reviews-content>p{
    margin-bottom: 5px;
}
#reviews-content>span{
    margin-top: 3px;
    background-color: #309BF8; 
}
#reviews-footer{
    /*********리뷰박스크기따라조정할것*********/
    width: 990px;
    height : 15px;
    color: #ABAAAC;
    margin-top : 10px;
}
#reviews-footer span{
    margin-right : 5px;
}
#reviews-footer #heart{
    color: #309BF8;
    padding: 2px 0px 0px 5px;
}
#reviews-footer .dropup a{
    color: #707070;
}
#reviews-footer .dropup li a{
    color:#B4B4B4 !important;
    padding: 3px 10px !important;
    width: 180px;
}
#reviews-footer .dropup li a span{
    float:right;
    padding-right: 10px;
}
#reviews-footer #plus{
    font-size: 20px;
}

.left{
    float: left;
}
.right{
    float: right;
}

.edit{
    float:right;
    font-size: 16px;
    color:#F7F7F7;
}