<!DOCTYPE html>

<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>taste-main</title>
    <link rel="stylesheet" href="../../asset/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../asset/css/taste-main.css">

    <script src="../../asset/js/jquery-1.12.4.js"></script>
    <script src="../../asset/bootstrap/js/bootstrap.js"></script>
</head>
<!--header-->

<body>
    <div id="wrap">
        <div id="header" class="clearfix">
            <a href=""> <img src="../../asset/img/1_logo.png">
            </a>
            <!-- 로그인전 -->
            <ul class="list-unstyled">
                <a class="btn btn-link" role="button" href="#">기록하기</a>
                <a class="btn btn-link" role="button" href="#">로그인</a>
            </ul>
            <!-- 로그인후 -->
            <!-- <ul class="list-unstyled">
                <a class="btn btn-link" role="button" href="#">기록하기</a>
                <span onclick="location.href='http://'">
                    <img src="../img/login/user.jpg" class="img-circle">
                    <a class="btn btn-link" role="button" href="#">황태형</a>
                </span>
            </ul> -->
        </div>
        <!--/wrap-->

        <div id="nav" class="clearfix">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">내 서평</a></li>
                <li role="presentation"><a href="#">취향저격</a></li>
                <!--세션 아이디와 사이트아이디 같을때-->
                <li role="presentation"><a href="#">통계</a></li>
            </ul>
        </div>

        <ul id="nav2" class="nav nav-pills">
            <!-- 세션아이디와 비교, 다를경우 '이름님의 취향' -->
            <!-- <li role="presentation" class="active"><a href="#">'유저이름'님의 취향</a></li> -->
            <li role="presentation" class="active"><a href="#">my 취향</a></li>
            <li role="presentation"><a href="#">좋아요한 서평</a></li>
            <li role="presentation"><a href="#">관심가는 책</a></li>
            <!-- 세션아이디와 비교, 같은 사람일경우에만 보이게 -->
            <li role="presentation"><a href="#">통계</a></li>
        </ul>

        <div id="content">
            <!--content1-->
            <div id="content1">
                <div class="minicontent">
                    <div class="left"><p>'김고은'님이 좋아요한 서평</p></div>
                    <div class="right" id="more"><p>더보기<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></p></div>
                </div>
                <!-- 서평 리스트 -->
                <div id="reviews">
                    <div id="reviews-header">
                        <div class="left"><p><a>스며드는 것</a></p></div>
                        <!-- 작성자아이디와 세션아이디가 동일할 시에만 보이게 -->  
                        <div class="right">
                            <a>수정</a>
                            <a>삭제</a>
                        </div>
                    </div>
                    <!-- 작성자아이디와 세션아이디가 동일할 경우에는 안보이게 -->  
                    <div id="reviewer"><a>안도현</a></div>
                    <div id="reviews-content">
                        <p>꽃게가 간장 속에 반쯤 몸을 담그고 엎드려 있다 등판에 간장이 울컥울컥 쏟아질 때
                            꽃게는 뱃속의 알을 껴안으려고 꿈틀거리다가 더 낮게 버둥겨렸으리라 버둥거리다가
                            어찌할 수 없어서 살 속으로 스며드는 것을 한 때의 어스름을 꽃게는 천천히 받아들였으리라
                            껍질이 먹먹해지기 전에 가만히 알들에게 말했으리라 저녁이야 불 끄고 잘 시간이야</p>
                        <span class="label label-default">우울한</span>
                        <span class="label label-default">#mood</span>
                    </div>
                    <div id="reviews-footer">
                        <div class="left">
                            <span id="heart" class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                            <span>16.5k</span>
                            <span>2022/02/22</span>
                        </div>
                        <div class="right">
                            <div class="dropup">
                                <a id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    더보기
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">플레이리스트에 추가<span id="plus">+</span></a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">서평 공유하기<span class="glyphicon glyphicon-share" aria-hidden="true"></span></a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">이미지 저장하기<span class="glyphicon glyphicon-save" aria-hidden="true"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--content1-->

            <!--content2-->
            <div id="content2">
                <div class="minicontent">
                    <div class="left"><p>'김고은'님이 좋아요한 작가</p></div>
                    <div class="right" id="more"><p>더보기<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></p></div>
                </div>
                <div>
                    <div class="likewriter">
                        <img src="../../asset/img/yjprofile.jpg" alt="..." class="img-circle">
                        <div id="writerinfo">
                            <h1>우동먹는 오리</h1>
                            <p>서평 수 : 913</p>
                        </div>
                        <p class="word">새는 알에서 빠져나오려고 몸부림친다. 알은 세계이다. 태어나려는 자는 누구든 한 개의 세계를 부숴야 한다.
                            새는 알에서 빠져나오려고 몸부림친다. 알은 세계이다. 태어나려는 자는 누구든 한 개의 세계를 부숴야 한다.
                            새는 알에서 빠져나오려고 몸부림친다. 알은 세계이다. 태어나려는 자는 누구든 한 개의 세계를 부숴야 한다.
                            새는 알에서 빠져나오려고 몸부림친다. 알은 세계이다. 태어나려는 자는 누구든 한 개의 세계를 부숴야 한다.
                        </p>
                    </div>
                    <div class="likewriter">
                        <img src="../../asset/img/yjprofile.jpg" alt="..." class="img-circle">
                        <div id="writerinfo">
                            <h1>우동먹는 오리</h1>
                            <p>서평 수 : 913</p>
                        </div>
                        <p class="word">새는 알에서 빠져나오려고 몸부림친다. 알은 세계이다. 태어나려는 자는 누구든 한 개의 세계를 부숴야 한다.
                            새는 알에서 빠져나오려고 몸부림친다. 알은 세계이다. 태어나려는 자는 누구든 한 개의 세계를 부숴야 한다.
                            새는 알에서 빠져나오려고 몸부림친다. 알은 세계이다. 태어나려는 자는 누구든 한 개의 세계를 부숴야 한다.
                            새는 알에서 빠져나오려고 몸부림친다. 알은 세계이다. 태어나려는 자는 누구든 한 개의 세계를 부숴야 한다.
                        </p>
                    </div>
                    <div class="likewriter">
                        <img src="../../asset/img/yjprofile.jpg" alt="..." class="img-circle">
                        <div id="writerinfo">
                            <h1>우동먹는 오리</h1>
                            <p>서평 수 : 913</p>
                        </div>
                        <p class="word">새는 알에서 빠져나오려고 몸부림친다. 알은 세계이다. 태어나려는 자는 누구든 한 개의 세계를 부숴야 한다.
                            새는 알에서 빠져나오려고 몸부림친다. 알은 세계이다. 태어나려는 자는 누구든 한 개의 세계를 부숴야 한다.
                            새는 알에서 빠져나오려고 몸부림친다. 알은 세계이다. 태어나려는 자는 누구든 한 개의 세계를 부숴야 한다.
                            새는 알에서 빠져나오려고 몸부림친다. 알은 세계이다. 태어나려는 자는 누구든 한 개의 세계를 부숴야 한다.
                        </p>
                    </div>                    
                </div>
            </div>
            <!--content2-->

            <!--content3-->
            <div id="content3">
                <div class="minicontent">
                    <div class="left"><p>'김고은'님이 관심있는 책</p></div>
                    <div class="right" id="more"><p>더보기<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></p></div>
                </div>
                <div id="background">
                    <div>
                        <img class="cover"src="https://image.aladin.co.kr/product/26/0/cover500/s742633278_1.jpg" alt="image"/>
                        <img class="cover"src="https://image.aladin.co.kr/product/26/0/cover500/s742633278_1.jpg" alt="image"/>
                        <img class="cover"src="https://image.aladin.co.kr/product/26/0/cover500/s742633278_1.jpg" alt="image"/>
                        <img class="cover"src="https://image.aladin.co.kr/product/26/0/cover500/s742633278_1.jpg" alt="image"/>
                    </div>
                                 
                </div>
            </div>
            <!--content3-->

            <!--content4-->
            <div id="content4">
                <div class="minicontent">
                    <div class="left"><p>'김고은'님을 위한 플레이리스트</p></div>
                    <div class="right" id="more"><p>더보기<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></p></div>
                </div>
                <div>
                    <p class="index">오늘 이 플레이리스트 어때요? SYB가 엄선했어요!</p>
                </div>
                
                <div id="playlist">

                    <div class="nail purple">
                        <div class="nail-desc">
                            <p>출근할 때 즐기는<br>에너제틱 플레이리스트</p>
                        </div>
                        <div>
                            <div id="opac"></div>
                        </div>
                    </div>                    
    
                    <div class="nail deeppurple">
                        <div class="nail-desc">
                            <p>그래 가보자고<br>의욕 뿜뿜 플레이리스트</p>
                        </div>
                        <div>
                            <div id="opac"></div>
                        </div>
                    </div>
    
                    <div class="nail green">
                        <div class="nail-desc">
                            <p>나만 이런 게 아니었어<br>공감 꾹꾹 플레이리스트</p>
                        </div>
                        <div id="opac"></div>
                    </div>
    
                    <div class="nail green">
                        <div class="nail-desc">
                            <p>나만 이런 게 아니었어<br>공감 꾹꾹 플레이리스트</p>
                        </div>
                        <div id="opac"></div>
                    </div>
    
                    <div class="nail green">
                        <div class="nail-desc">
                            <p>나만 이런 게 아니었어<br>공감 꾹꾹 플레이리스트</p>
                        </div>
                        <div id="opac"></div>
                    </div>
                </div>
                
            </div>
            <!--content4-->
    
        </div>

    </div>
    <!--wrap-->
</body>

</html>